 <div class="nav-menu fixed-top">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <nav class="navbar navbar-dark navbar-expand-lg">
                    {{page.logo}}
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
                    {{page.primary_menu}}
                </nav>
            </div>
        </div>
    </div>
</div>

    {{page.content}}

<footer>
        <div class="container h-100">        
            <div class="row">
                <div class="col-12 col-lg-8 mx-auto text-center">
                    <h3>{{follow_us_title}}</h3>
                    <ul class="nav nav-social list-inline d-flex justify-content-center">
                        <li class="list-inline-item">
                            <a class="nav-link pl-1 pr-1" href="{{twitter}}">
                                <i class="fab fa-twitter"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link pl-1 pr-1" href="{{facebook}}">
                                <i class="fab fa-facebook-f"></i>
                            </a>
                        </li>
                        <li class="list-inline-item">
                            <a class="nav-link pl-1 pr-1" href="{{instagram}}">
                                <i class="fab fa-instagram"></i>
                            </a>
                        </li>
                    </ul>
                    <div class="col-12 col-lg-12"><p><small>© 2018. <a href="#">YG App One</a>. All Rights Reserved.<br>Theme By<a href="https://www.drupaldevelopersstudio.com/" target="_blank"> Drupal Developers Studio</a>, A Division of <a href="http://www.youngglobes.com" target="_blank">Young Globes</a></small></p></div>
                </div>
            </div>
        </div>
    </footer>